.links {
    display: flex;
    flex-direction: column;
}
.link {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    border: 1px;
}

.link:hover {
    background-color: #ccc;
}

.active {
    background-color: #ccc;
}
